authorized_keys
ssh_host_dsa_key
ssh_host_dsa_key.pub
ssh_host_ecdsa_key
ssh_host_ecdsa_key.pub
ssh_host_ed25519_key
ssh_host_ed25519_key.pub
ssh_host_rsa_key
ssh_host_rsa_key.pub
*.md5
composer.phar
dustcloud/www/conf.php
dustcloud/config.ini
settings.json
devices/xiaomi.vacuum/audio_generator/generate*
dustcloud/www/cache/*
!dustcloud/www/cache/.gitkeep
dustcloud/www/vendor
__pycache__
.venv

# IDE project files
.idea
