<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" type="text/css">
        <title>{% block title %}Dustcloud{% endblock %}</title>
        <script type="text/javascript" src="script.js"></script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <h1>Dustcloud</h1>
        {% block content %}
        {% endblock %}
    </body>
</html>