{% extends '_layout.twig' %}
{% block title %}Dustcloud &rsaquo; Error{% endblock %}
{% block content %}
<div class="confirm">
{{ msg }}<br><br>
<a class="button" href="index.php">Back</a>
</form>
</div>
{% endblock %}