{% extends '_layout.twig' %}
{% block head %}
<meta http-equiv="refresh" content="5; url=index.php" />
{% endblock %}
{% block title %}Dustcloud &rsaquo; Success{% endblock %}
{% block content %}
<div class="confirm">
{{ msg }}<br><br>
<a class="button" href="index.php">Back</a>
</form>
</div>
{% endblock %}